.footer {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    position: relative;
    height: 130px;
}

.footer-text {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #999999;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.scroll-top::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid white;
}

body {
    font: 14px/24px "Poppins", sans-serif !important;
    background-color: #fff;
    color: #666666;
}

/* Responsive header/banner */
.preview__header {
    font-size: 12px;
    min-height: 35px;
    background-color: #44aa68;
    z-index: 100;
    color: #fff;
}

@media (max-width: 767px) {
    .banner-hide-xs {
        display: none !important;
    }
}

/* Navigation */
#mainnav .menu>li {
    display: inline-block !important;
    position: relative;
}
#mainnav .menu>li>a {
    line-height: 45px;
    display: inline-block;
    padding: 0 19.5px;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
}

/* Visa detail alignment */
.label-div {
    text-align: left;
}

.value-div {
    text-align: left;
}

@media(max-width: 991px) {
    .label-div, .value-div {
        text-align: center;
    }
}


